<nav class="navbar">
  <ul class="nav-menu">
    <li class="nav-item">
      <a (click)="navigateTo('home')" class="nav-link">Inicio</a>
    </li>
    <li class="nav-item">
      <a (click)="navigateTo('articles')" class="nav-link">Artículos</a>
    </li>
    <li class="nav-item">
      <a (click)="navigateTo('new-template')" class="nav-link">Nuevo artículo template</a>
    </li>
    <li class="nav-item">
      <a (click)="navigateTo('new-reactive')" class="nav-link">Nuevo artículo reactivo</a>
    </li>
  </ul>
</nav>
