<div class="article-card" [class.on-sale]="article().isOnSale">
  <div class="article-image clickable" (click)="viewDetails()">
    <img [src]="article().imageUrl | defaultImage" [alt]="article().name" />
    @if (article().isOnSale) {
      <span class="sale-badge">ON SALE!</span>
    }
    <div class="image-overlay">
      <span class="view-details">👁️ View Details</span>
    </div>
  </div>
  
  <div class="article-info">
    <h2 class="article-name">{{ article().name }}</h2>
    <p class="article-price" [ngClass]="{'price-unavailable': !article().isOnSale}">
      {{ article().price | currency:'EUR':'symbol':'1.2-2' }}
    </p>
    
    @if (article().isOnSale) {
      <div class="quantity-controls">
      <button 
        class="btn btn-decrement" 
        (click)="decrementQuantity()"
        [disabled]="article().quantityInCart === 0">
        -
      </button>
      <span class="quantity">{{ article().quantityInCart }}</span>
      <button 
        class="btn btn-increment" 
        (click)="incrementQuantity()">
        +
      </button>
      </div>
    }
  </div>
</div>
